html, body {
    color: white;
    background-color: #181A1B;
} 
button, input, select {
    color: white;
    background-color: #181A1B;
}
table, tr, th, td {
    border-collapse: collapse;
    border: 2px solid white;
}
table tr th { 
    text-align: center;
    padding: 2px 5px 2px 5px;
}

/* TEXT-ALIGN */
#right { 
    text-align: right;
}
#center { 
    text-align: center;
}
#left { 
    text-align: left;
}

/* TEXT-ALIGN GLOBAL */

#right, #center, #left {
    /* TOP RIGHT BOTTOM LEFT */
    padding: auto 5px auto 5px;
}